<div class='main'>
<div style='text-align:center'>
<h2><i>
Look how far we've come!<br />
Where will we go from here?
<h5>Leave a quote!</h5>
</i></h2>
</div>
<% form_for(@quote) do |f| %>
  <%= f.error_messages %>
  <% if flash[:notice] %>
    <div id='errorExplanation' style='color:black'><%= flash[:notice] %></div>
  <% end %>
  <p>
    Student ID#<br />
    <%= f.text_field :student_id %>
  </p>
  <p>
    Computer Login #<br />
    <%= f.text_field :login_id %>
  </p>
  <p>
    Email Address<br />
    <%= f.text_field :email %>*not required
  </p>
  <p>
    Your Quote<br />
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit 'Submit!' %>
  </p>
<% end %>
</div>
